#corsi {
    width: 100%;
}

/* ^ Intro */
#corsiIntroImg {
    background-image: url(./../img/image.jpg);
}



/* ^ Tipologie */
#typesList {
    display: flex;
}

.typesItem {

}

.featuresTitle {
    border-bottom: 1px solid var(--color-nav);
}

.featureTitle {

}

.featureIcon {
    margin-top: 5px;
}

.featureIcon i {
    font-size: 32px;
    color: var(--color-nav);
}

#professionalIcon {
    background-image: url(.);
}



/* ^ Strumenti */
#instrumentsList {
    display: flex;
    margin-top: 40px;
}

.instrumentsItem {
    
}

.albumItem {
    padding: 10px 20px;
}

.albumImg {
    width: 100%;
    cursor: pointer;
}