#corsi {
    width: 100%;
}

#typesList {
    display: flex;
}

.typesItem {

}

#instrumentsList {
    display: flex;
    margin-top: 40px;
}

.instrumentsItem {
    
}

.albumItem {
    padding: 10px 20px;
}

.albumImg {
    width: 100%;
    cursor: pointer;
}